@import url(./base.css);

.fetching-msg {
    width:fit-content;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}

main {
    position: relative;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 2rem;
    margin-bottom: 5vh;
}

main h1 {
    font-size: 1.3rem;
}

.carousel-container {
    position: relative;
}

.scroll-arrow {
    width: 2.2rem;
    font-size: 2rem;
    text-align: center;
    color: rgba(255,255,255,0.5);
    position: absolute;
    top: 40%;
    cursor: pointer;
}

.scroll-arrow:hover {
    background-color: rgba(0,0,0,0.3);
    color: white;
}

.prev {
    left: 0.2rem;
}

.next {
    right: 0.2rem;
}

.index-dot-container {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    margin-top: 0.8rem;
}

.index-dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--dot-color);
    cursor: pointer;
}


.active-dot {
    background-color: var(--active-dot-color);
}

.index-dot:hover {
    background-color: var(--dot-hover-color);
    
}

.project-container {
    width: 100%;
    height: auto;
    background-color: var(--bg-color-projects);
    display: flex;
    flex-direction: column;
    align-self: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--shadow-color);
}

.project-container img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-2 img {
    align-self: center;
    width: 122%;
    height: auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.6rem;
}

.info-container h2 {
    font-size: 1rem;
}

.info-container p {
    font-size: 0.7rem;
}

.info-container .project-description {
    min-height: 3.1rem;
}

.info-container .paragraph-techstack {
    color: var(--headline-color);
    font-weight: 600;
}

.info-container span {
    font-weight: 400;
}

.info-container .showcase-container {
    font-size: 0.7rem;
}

.showcase-container img {
    width: 0.8rem;
}

.showcase-container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.showcase-container ul a {
    color: var(--headline-color);
}

.showcase-container ul li {
    display: flex;
    gap: 0.3rem;
}

.collapsed {
    display: none;
}

@media (min-width: 600px) {
    
    .nav-list a, .social-media-container {
        display: flex;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
        width: 100%;
        align-self: center;
        margin-top: 3rem;
    }

    main h1 {
        grid-column: 1 / 4;
    }

    

    .project-container {
        width: 100%;
        height: auto;
    }
}